

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div class="container">
  <div>Welcome To The Care In The Community Web App</div>
</div>
  
  <section class="container2">
    <div class="login">
      <h1>Login to Web App</h1>
      <form method="get" action="/home">
        <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="login" value="login"></p>
        <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
      </form>
    </div>
    <br/>


  </section>


</body>
</html>