
@font-face {
  font-family: 'medical';
  src:  url('Quicksand_Bold.otf') format('opentype'),
  url('Quicksand_Bold.otf') format('opentype');
}

html { 
  background: url(http://www.birminghamcarershub.org.uk/content/uploads/2015/04/carer-holding-new.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'medical';
}



#rectangle{
    width:350px;
    height:350px;
    background:white;
    border-radius: 10%;
}

#title {
  display: block;
  padding-top: 30px;
  padding-left: 35%;
  color: #389b2b;
  font-size: 25px;
}


.leftposition{
  display: inline-block;
  float:left;
  height: 550px;
  width: 550px;
  position:absolute;
  top: 150px;
  left:20px;
  line-height:1em;
}








.container2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  color: white;
}

.container3 {
  height: 100%;
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -150px;
  color: #0b2b5e
}



/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #389b2b;
    display: flex;
    justify-content: center;
}

/* Float the list items side by side */
ul.topnav li {


}

/* Style the links inside the list items */
ul.topnav li a {
  display: flex;

  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 22px;
  justify-content: center;

}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

